<%- include("layout/mainPageHeader.ejs") %>
</section>
<!-- <link rel="stylesheet" href="/styles/reels.css"> -->
<style>
    body{
      background-color: #EAF4F2;
    }
  </style>

<section class="question-text">
    <div class="ques-text">
        <div class="quesTxt">QUESTIONAIRE</div>
    </div>
</section>    

<section class="container">
    <div>
        <div><img src="/images/reels/q1 (1).png" alt="first_ques" class="firstImg"></div>
        <div><img src="/images/reels/Q2.png" alt="second_ques" class="secondImg"></div>
        <div><img src="/images/reels/q3.png" alt="third_ques" class="thirdImg"></div>
        <div><img src="/images/reels/q1 (1).png" alt="first_ques" class="firstImg"></div>
        <div><img src="/images/reels/Q2.png" alt="second_ques" class="secondImg"></div>
        <div><img src="/images/reels/q3.png" alt="third_ques" class="thirdImg"></div>
    </div>
    <div class="right">     
        <section class="headerReel">
            <div class="reelsTxt">
                <div class="reelSymbols">
                        <i class="fa-solid fa-magnifying-glass" style="color:#D8E9E1;;"></i>     
                        <i class="fa-solid fa-plus" style="color:#D8E9E1;;"></i>
                        <i class="fa-solid fa-heart" style="color:#D8E9E1;;"></i>  
                </div>
            </div>
        </section>
        <div class="reelSection">
            <video width="430" height="340" controls>
                <source src="/images/reels/reel1.mp4" type="video/mp4">
              Your browser does not support the video tag.
              </video>
              <video width="430" height="340" controls>
                <source src="/images/reels/reel2.mp4" type="video/mp4">
              Your browser does not support the video tag.
              </video>
              <video width="430" height="340" controls>
                <source src="/images/reels/reel3.mp4" type="video/mp4">
              Your browser does not support the video tag.
              </video>
              <video width="430" height="340" controls>
                <source src="/images/reels/reel1.mp4" type="video/mp4">
              Your browser does not support the video tag.
              </video>
              <video width="430" height="340" controls>
                <source src="/images/reels/reel2.mp4" type="video/mp4">
              Your browser does not support the video tag.
              </video>
             
        </div>
    </div>
</section>
<%- include("layout/mainPageFooter.ejs") %>