<%- include("layout/mainPageHeader.ejs") %>
</section>
<!-- <link rel="stylesheet" href="/styles/reels.css"> -->
 <style>
  body{
    background-color: #EAF4F2;
  }
 </style>
    
 <section class="tutorialFLEX">
     <content class="tutorials">
         <div class="tutorial-txt">
             <div>TUTORIALS</div>
         </div>
         <div class="imageRow1">
             <div class="card1">
                 <img src="/images/webinar/image1Tutoria.jpeg" alt="Cattle-Farming" class="img1">
                 <div class="livestock1">livestock</div>
                 <button class="playbutton1">
                     <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="26px"><path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" fill="currentColor"></path></svg>
                 </button>
                 <div class="cattle-head1">Benefits of cattle farming</div>
                 <div class="cattle-text1">Cattle farming can be profitable for small farms because cattle are easy to raise and can provide multiple sources to income.</div>
                 <div class="flexCattle-1">
                     <button class="watchLater1">  WATCH LATER  </button>
                     <button class="DOWNLOAD1">  DOWNLOAD</button>
                 </div>
             </div>
         
           
                 <div class="card2">
                     <img src="/images/webinar/img2_tutorial.jpeg" alt="Organic-Farming" class="img2">
                     <div class="agriculture1">agriculture</div>
                     <button class="playbutton2">
                         <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="26px"><path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" fill="currentColor"></path></svg>
                     </button>
                     <div class="agriHead1">Impact of organic farming</div>
                     <div class="agri-text1">Organic farming avoids synthetic chemicals, promoting soil health and biodiversity, and yields nutritious, sustainable produce.</div>
                     <div class="flexagri-1">
                         <button class="watchLateragri">  WATCH LATER  </button>
                         <button class="DOWNLOADAgri">  DOWNLOAD</button>
                     </div>
                                                                   
                 </div>
             </div>
         </div>
         <div class="imageRow1">
             <div class="card1">
                 <img src="/images/webinar/image1Tutoria.jpeg" alt="Cattle-Farming" class="img1">
                 <div class="livestock1">livestock</div>
                 <button class="playbutton1">
                     <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="26px"><path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" fill="currentColor"></path></svg>
                 </button>
                 <div class="cattle-head1">Benefits of cattle farming</div>
                 <div class="cattle-text1">Cattle farming can be profitable for small farms because cattle are easy to raise and can provide multiple sources to income.</div>
                 <div class="flexCattle-1">
                     <button class="watchLater1">  WATCH LATER  </button>
                     <button class="DOWNLOAD1">  DOWNLOAD</button>
                 </div>
             </div>
         
           
                 <div class="card2">
                     <img src="/images/webinar/img2_tutorial.jpeg" alt="Organic-Farming" class="img2">
                     <div class="agriculture1">agriculture</div>
                     <button class="playbutton2">
                         <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="26px"><path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" fill="currentColor"></path></svg>
                     </button>
                     <div class="agriHead1">Impact of organic farming</div>
                     <div class="agri-text1">Organic farming avoids synthetic chemicals, promoting soil health and biodiversity, and yields nutritious, sustainable produce.</div>
                     <div class="flexagri-1">
                         <button class="watchLateragri">  WATCH LATER  </button>
                         <button class="DOWNLOADAgri">  DOWNLOAD</button>
                     </div>                                     
                 </div>
             </div>
         </div>
     </content>
     <div class="webinar">
         <img src="/images/webinar/img3.png" alt="WEBINAR SECTION" class="webinar">
     </div>
 </section>
<%- include("layout/mainPageFooter.ejs") %>